# server name, port is mandatory
export EMAIL_SERVER=smtp.qq.com:465

# email account
export EMAIL_ACCOUNT=username@qq.com

# email password or authorization code, for http://service.mail.qq.com/cgi-bin/help?subtype=1&&no=1001256&&id=28
export EMAIL_PASSWORD=<authorization code>
